---
import { marked } from "marked";
const { title, description, image, link } = Astro.props;
---

<div class="bg-light p-4 rounded-lg shadow-md border border-primary">
	<img
		src={image.src}
		alt={title}
		class="w-full h-40 object-cover object-top rounded-md mb-2"
	/>
	<a
		href={link}
		class="text-xl font-semibold mb-2 text-primary hover:text-primary-active transition-colors"
		>{title}</a
	>
	<p class="text-sm" set:html={marked(description)} />
</div>
